div{
    border: 1px solid black;
    padding: 2em;
    position:relative
}
.one{
    width: 30em;
    height: 15em;
}
p{
    position:absolute;
    top:-1em;
    left:1em;
}
.two{
    background-color: rgb(241, 147, 113);
    content:
}
.three{
    background-color: rgb(253, 253, 137);
}
.four{
    background-color: rgb(183, 246, 90);
}
.five{
    background-color: lightblue;
    text-align: center;
}