.mainBody{
  margin: 0 5em;
}

.news-grid {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}


.main-news {
  background: #fff;
  padding: 20px;
  width: 66.66%;
  display: flex;
  align-items: center;
  gap: 20px;
}


.main-news a {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  color: inherit;
  width: 100%;
}


.main-news .text {
  flex: 1;
  max-width: 300px;
}

.main-news .image {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}


.image img {
  width: 100%;
  height: auto;
}


.main-news:hover h2,
.main-news-2:hover h2,
.news-item:hover h3 {
  text-decoration: underline;
  transition: text-decoration 0.2s;
}


.main-news-2 {
  background: #fff;
  padding: 20px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
}

.main-news-2 img {
  width: 100%;
  height: auto;
}


.meta {
  font-size: 14px;
  color: #777;
}


@media (max-width: 825px) {
  .news-grid {
    flex-direction: column;
  }

  .main-news,
  .main-news-2 {
    width: 100%;
    flex-direction: column;
  }

  .main-news {
    align-items: flex-start;
  }

  .main-news a {
    flex-direction: column;
  }
}



.news-item {
  background: #fff;
  padding: 15px;
}

.news-item h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.down-news {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.down-item {
  background: #ffffff;
  padding: 10px;
  flex: 1 1 200px;
  font-size: 14px;
}

.last2{
  display: flex;
  flex-direction: column;
}



.main-news:hover, .main-news-2:hover,
.left-feature:hover, .right-column:hover, .news-item:hover{
  h4, h3{
    text-decoration: underline;
  }
  .image::after{
    opacity: 1;
  }
}

.down-news .down-item:hover{
  text-decoration: underline;
}

.watched-list p:hover {
    text-decoration: underline;
}